@import "_include.less";

.titletd {
    width: 1em;
}

.smalltitle {
    .selection-none;
    font-size: 1.4em;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
}

.itemname {
    .selection-none;
    margin: 1em 1em 0.2em 0.5em;
    white-space: nowrap;
}

div[data-control="listbox"],
div[data-control="datepicker"] {
}

.info-base {
    .selection-none;
    .transition(all, 0.2s, ease-in-out);
    font-size: 0.8em;
    color: #FFF;
    padding: 0 0.55em;
    height: 0;
    margin: 0 0.3em;
    width: calc(100% - 1.8em);
    overflow: hidden;
}

.info-base.show {
    padding: 0.5em 0.55em;
    height: 1.4em;
}

.info-hint {
    background: #7BA23F;
}

.info-error {
    background: #E83015;
}

.input-item {
    -webkit-appearance: none;

    &[data-error="true"] {

        input, textarea {
            border-color: #C00 !important;

            &:hover {
                border-color: #A00 !important;
            }

            &:focus {
                outline: none;
                border-color: #F44 !important;
                background: #fff;
            }
        }
    }
}