@using ClinicReservation.Controllers
@inject ClinicReservation.Services.CultureContext cultureContext
@{
    LanguageRequestResult language = null;
    string requestedLanguage = "";
    object langObj;
    if (ViewData.TryGetValue("Language", out langObj) && langObj is LanguageRequestResult)
    {
        language = (LanguageRequestResult)langObj;
        requestedLanguage = language.RequestedLanguage;
    }
    else
    {
        requestedLanguage = cultureContext.Culture.Language;
    }
    string source = cultureContext.Action;
    string url = $"{cultureContext.UrlCultureSpecifier}/Reservation/{nameof(ReservationController.Language)}?source={source}";
}
<div class="left">
    <span class="glyphicon glyphicon-globe" style="margin-right: 0.5em; font-size: 1.2em"></span>
    <a href="@url">@requestedLanguage</a>
    <span>Copyright © 1997-@DateTime.Now.ToString("yyyy") NetPioneer Association All Rights Reserved.</span>
</div>
<div class="right">
    <span>Designed by lzlhake & <a href="http://www.jackh.cn" target="_blank">Jack.H</a></span>
</div>

<environment names="Development">
    <link rel="stylesheet" href="~/_shared/_sharedfooter.css" />
    <script src="~/_shared/_sharedfooter.es5.js"> </script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/_shared/_sharedfooter.min.css" asp-append-version="true" />
    <script src="~/_shared/_sharedfooter.es5.min.js" asp-append-version="true"> </script>
</environment>