<div class="left">
    <img style="max-width:3em; max-height: 3em;" src="~/images/resources/logo.png"/>
    <span><b>网协 | 电脑诊所预约</b></span>
</div>
<div class="right">
    <div class="menu">
        <a href="http://www.bitnp.net">首页</a>
        <a href="http://live.bitnp.net/">NPLive</a>
        <a href="/"><b>预约系统</b></a>
        <a href="http://baike.baidu.com/view/4875683.htm">关于我们</a>
    </div>
    <div class="floatmenu" tabindex="-1">
        <div class="name">
            <span>BITNP</span>
        </div>
        <div class="menu">
            <div>
                <a href="http://www.bitnp.net">首页</a>
                <a href="http://live.bitnp.net/">NPLIVE</a>
                <a href="/">预约系统</a>
                <a href="http://baike.baidu.com/view/4875683.htm">关于我们</a>
            </div>
        </div>
    </div>
</div>

<environment names="Development">
    <link rel="stylesheet" href="~/_shared/_sharedheader.css" />
    <script src="~/_shared/_sharedheader.es5.js"> </script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/_shared/_sharedheader.min.css" asp-append-version="true" />
    <script src="~/_shared/_sharedheader.es5.min.js" asp-append-version="true"> </script>
</environment>