@*
    在线预约系统首页

    提供查询入口和创建预约入口
*@

@{
    ViewData["Title"] = "预约系统";
    ViewData["Controller"] = "reservation";
    ViewData["ImportCSS"] = new List<string>() { "index" };
    ViewData["ImportScript"] = new List<string>() { "index" };
    ViewData["DisableLeftNavi"] = true;
}
<div style="display: flex; flex-direction:row; justify-content: center; flex-wrap: wrap;">
    
    <div class="np-section">
        <p class="np-title">Query Detail</p>
        <form id="form_queryreservation" method="post" asp-action="Detail" asp-controller="Reservation" >
            <p style="margin-bottom: 0">ID Number</p>
            <div id="input_id" data-control="input" data-type="number" data-name="id" style="width: calc(100% - 2em)"></div>
            <p style="margin-top: 1em; margin-bottom: 0">Last four digits of phone number</p>
            <div id="input_phonenum" data-control="input" data-type="number" data-name="phone" style="width: calc(100% - 2em)"></div>
        </form>
        
        <br />
        <div id="btn_query" data-control="button" data-text="Query" data-accent="true"></div>
        <br />
        <br />
    </div>
    <div class="np-section">
        <p class="np-title">New reservation</p>
        <p>向我们发起预约请求</p>
        
        <p>我们的电脑诊所部门，是网协的对外窗口，为同学们解决包括电脑、软硬件、<span style="text-decoration: line-through">情感</span>在内的各种问题</p>
        <div id="btn_create" data-control="button" data-text="Fill the form"></div>
        <br />
        <br />
    </div>
</div>
