
@using ClinicReservation.Services
@inject IServiceNotAvailableReasonProvider reasonProvider
@inject CultureContext culture
@{
    ViewData["Title"] = "Service unavailable";
    ViewData["Controller"] = "reservation";
    ViewData["ImportCSS"] = new List<string>() { };
    ViewData["ImportScript"] = new List<string>() { };
    ViewData["DisableLeftNavi"] = true;
}

<h2>Oops. Our service is currently unavailable.</h2>
<p>@reasonProvider[culture.Culture]</p>