p.np-title {
  font-size: 1.8em;
  font-weight: bold;
}
div.np-section {
  position: relative;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  width: 16em;
}
div.np-section > p:not(.np-title) {
  margin-left: 0.3em;
}
@media screen and (max-width: 400px) {
  div.np-section {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 13em;
  }
}