.smalltitle {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.4em;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}
.itemname {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0.3em;
  margin-bottom: 0.1em;
  white-space: nowrap;
}
.info-base.show {
  padding: 0.5em 0.55em;
  height: 1.4em;
}
.info-hint {
  background: #7BA23F;
}
.info-error {
  background: #E83015;
}
.input-item {
  -webkit-appearance: none;
}
p.header {
  margin-top: 0.45em !important;
}
.itemname {
  margin-top: 0.75em !important;
}
.date-quick-pick {
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: stretch;
  background: #AAA;
  padding: 0.3em;
  margin: 0.1em;
  margin-left: 0.36em;
  margin-right: 0.36em;
  overflow-x: auto;
}
.date-quick-pick p {
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  cursor: pointer;
  margin: 0;
  flex-shrink: 0;
}
.date-quick-pick p span {
  margin: 0.5em 1em;
  display: block;
}
.date-quick-pick .selected {
  background: #003567;
  color: #FFF;
}
.dntCaptchaImg {
  margin: 0.36em;
}