.smalltitle {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-size: 1.4em;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}
.itemname {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  margin: 0.3em;
  margin-bottom: 0.1em;
  white-space: nowrap;
}
.info-base.show {
  padding: 0.5em 0.55em;
  height: 1.4em;
}
.info-hint {
  background: #7BA23F;
}
.info-error {
  background: #E83015;
}
.input-item {
  -webkit-appearance: none;
}
p.header {
  margin-top: 0.45em !important;
}
.itemname {
  margin-top: 0.75em !important;
}