@using LocalizationCore
@using LocalizationCore.CodeMatching
@inject ICultureContext cultureContext
@inject ILocalizedViewRenderContext renderContext
@inject ICodeMatchingService code
@{
    string requestedLanguage = "";
    if (renderContext != null)
    {
        requestedLanguage = renderContext.RequestedCulture.DisplayName;
    }
    else
    {
        requestedLanguage = cultureContext.CurrentCulture.DisplayName;
    }
    string source = cultureContext.Action;
    string url = $"{cultureContext.UrlCultureSpecifier}/Region";
    if (source != null && source.Length > 0)
    {
        url += $"?source={source}";
    }
}
<div class="left">
    <i class="fas fa-globe" style="font-size: 1.2em" aria-hidden="true"></i>
    <a href="@url" class="lang-link">@code.Match(requestedLanguage, requestedLanguage)</a>
</div>
<div class="right">
    <div>
        <p style="margin: 0"><span>© @DateTime.Now.ToString("yyyy") BITNP | Designed by lzlhake & <a href="http://www.jackh.cn" target="_blank">Jack.H</a></span></p>
    </div>
</div>

<environment names="Development">
    <link rel="stylesheet" href="~/css/sharedfooter.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/sharedfooter.min.css" asp-append-version="true" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</environment>