.np-title {
  font-size: 1.8em;
  font-weight: bold;
}
.np-section {
  position: relative;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  width: 16em;
}
@media screen and (max-width: 400px) {
  .np-section {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 13em;
  }
}